@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');

/* Common Styles */
html {
	font-size: 62.5%;
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
}

/* Navbar */
/* sidebar */
.sidebar {
	width: 8rem;
	height: 100%;
	background-color: #eee;
	position: fixed;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.menu-icon {
	margin-top: 3rem;
	cursor: pointer;
}

.menu-icon:hover .line {
	width: 2.5rem;
}

.line {
	height: 0.2rem;
	width: 2.5rem;
	background-color: #222;
	margin-bottom: 0.6rem;
}

.line-1,
.line-3 {
	width: 1.8rem;
	transition: width 0.3s ease-in;
}

.social-icons-list {
	list-style: none;
	padding: 0;
	height: 25rem;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
}

.social-link {
	font-size: 2rem;
	color: #777;
	transition: color 0.5s ease-in;
}

.social-link:hover {
	color: #deaa86;
}

.year {
	margin-bottom: 1rem;
	font-size: 1.5rem;
	color: #222;
}

/* End: sidebar */

/* Navigation Menu */
.navigation {
	margin-left: 8rem;
	position: fixed;
}
/* End: Navigation Menu */

/* End: Navbar */
